html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(-45deg, #262e2e, #4a6464, #569298, #8e9191); */
    background-color: #111827;
    background-size: 400% 400%;
    background-attachment: fixed; /* Add this line */
    animation: gradient 15s ease infinite;
    color: #fff;
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1.typewriter {
    font-size: 50px;
    padding-top: 20px;
    text-align: center; /* Center the text horizontally */
}

@media (max-width: 480px) {
    h1.typewriter {
        font-size: 30px; /* Adjust font size for mobile */
        padding-top: 10px; /* Reduce padding for mobile */
    }
}

.typewriter {
    display: block; /* Change to block */
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    padding-right: 5px;
    padding-bottom: 20px;
    animation: typing 10s steps(120, end);
    margin: 0 auto; /* Center the text */
    font-weight: bold;
    text-align: center; /* Center the text */
}

.typewriter::after {
    content: "_"; /* Initial underscore */
    display: inline-block;
    width: 0;
    text-align: center;
    animation: infinite, blink-underscore 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-underscore {
  0%, 100% {
    content: "_";
  }
  50% {
    content: "";
  }
}

.intro-text {
    font-size: 50px;
    text-align: center; /* Center the text horizontally */
    padding: 20px; /* Add some padding for spacing on mobile */
    max-width: 100%; /* Ensure the text doesn't exceed the screen width */
}

.highlight {
    font-weight: bold; /* Highlighted text in bold */
    color: inherit; /* Inherit the parent text color */
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .intro-text {
        font-size: 24px; /* Adjust font size for mobile */
        padding: 10px; /* Reduce padding for mobile */
    }
}

.social-buttons {
    text-align: center;
}

.github-button, .linkedin-button {
    display: inline-flex; /* Use flex to align items horizontally */
    align-items: center; /* Center vertically */
    padding: 2% 5%;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: transform 0.2s, background-color 0.2s;
    width: auto;
}

.github-button img, .linkedin-button img {
    margin-right: 10px; /* Adjust the spacing between the image and text */
    width: 20px; /* Adjust the image width as needed */
    height: 20px; /* Adjust the image height as needed */
}

.github-button:hover, .linkedin-button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.toolbar {
    position: fixed;
    top: 20px; /* Adjust the vertical positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #060b17;  
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 5px; /* Adjust padding as needed */
    border-radius: 15px;
}

/* Style the toolbar buttons */
.toolbar a {
    color: #9ca0a8;
    text-decoration: none;
    padding: 8px 10px; /* Adjust padding as needed */
    transition: background-color 0.5s, color 0.5s;
    border-radius: 10px;
}

.toolbar a:not(:last-child) {
    margin-right: 5px; /* Adjust margin between buttons as needed */
}

.toolbar a:hover {
    background-color: #1f2937;
    color: white;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color:#e1e1e4;
}

.link-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed to control spacing */
    margin-right: 10px
}

.infobar {
    background-color: #333;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    border-radius: 25px 0px 0px 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.option {
    background-color: #060b17;
    color: #e1e1e4;
    border:  2px solid #060b17;   
    padding: 45px;
    font-family: "Courier New", monospace;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    cursor: pointer;
    width: 100%;
}

.first-option {
    border-radius: 25px 0 0 0;
}

.last-option {
    border-radius: 0 0 0 25px;
}

.option:hover {
    background-color: #1f2937;
}

.container {
    display: flex;
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

.textbox {
    background-color: #1f2937;
    padding-left:10px;
    color: #e1e1e4;
    transition: opacity 0.5s;
    height: 443px;
    width: 1200px;
    border-top: 2px solid #060b17;
    border-right: 2px solid #060b17;
    border-bottom: 2px solid #060b17;
    box-sizing: border-box;
    border-radius: 0px 25px 25px 0px;
    opacity: 1;
}   

.active {
    border-left: 2px solid #060b17;
    border-top: 2px solid #060b17;
    border-bottom: 2px solid #060b17;
    border-right: none; /* Remove the right border */
    background-color: #1f2937;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    opacity: 0.85;
    margin-bottom: 20px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


/* Style for project cards */
.project-card {
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    background-color: #262d3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Hide the overflowing content (image slide) */
    position: relative; /* To make text absolute relative to this card */  
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
}

.project-card .project-header {
    display: flex;
    justify-content: space-between;
}

.project-card .project-info .tags {
    display: flex;
    justify-content: flex-end;
    position: absolute; /* Position the tags at the bottom right */
    bottom: 10px; /* Adjust as needed for spacing */
    right: 0px; /* Adjust as needed for spacing */
}

.project-card .project-info .tag {
    background-color: #111827;
    color: #e1e1e4;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
}

.project-card img.project-image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the image slide */
}

.project-card .tags {
    display: flex;
    justify-content: flex-end; /* Align tags to the right */
    padding-right: 15px; /* Add right padding to space tags from the edge */
}

.project-card .tag {
    background-color: #007BFF; /* Tag background color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px; /* Rounded tag shape */
    margin-left: 5px; /* Add margin between tags */
}

.project-card h2 {
    margin: 0; /* Remove margin for the title */   
    color: #e1e1e4;
}

.project-card .project-details {
    position: absolute;
    top: 0;
    left: 100%; /* Initially, position the text outside the card */
    width: 100%;
    height: 100%;
    background-color: #060b17; /* Background color for the text area */
    color: #dbdcde;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s, left 0.3s ease-in-out; /* Add smooth transitions for opacity and left position */
}

.project-card .project-details h2{
    color:#ffffff;
}

.project-card:not(.slideshow-container .project-card):hover {
    transform: scale(1.05); /* Enlarge the card by 5% on hover */
}

.project-card:hover img.project-image {
    transform: translateX(-100%); /* Slide the image to the left on hover */
}

.project-card:hover .project-details {
    opacity: 1; /* Make the description and link fully visible when the card is hovered */
    left: 0; /* Slide the text back into the card on hover */
}

.project-card .project-details a {
    display: none; /* Initially hide the link */
}   

.project-card:hover .project-details a {
    display: block; /* Display the link when the card is hovered */
    margin-top: 10px; /* Add spacing between description and link */
    text-decoration: none;
    color: #fff;
}

.project-card .project-details a:not(:last-child) {
    margin-right: 20px; /* Add margin to increase spacing between links */
}

.project-card:hover {
    opacity: 0.7;
}

@keyframes sparkle {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
        transform: scale(1);
    }
}

/* Apply the animation to your project container (slideshow) */
.slideshow-container {
    width: 554px;
    overflow: hidden; /* Hide any overflow (just in case) */
    animation: sparkle 5s ease infinite;
    margin-left: auto;
    margin-right: 90px;
    padding-right: 20px;
    opacity: 0;
}

.slideshow-container h2{
    margin-right: 20px;
}

.fade {
    width: 550px;
    animation-name: fade;
    animation-duration: 10s; /* Time for each card to stay */
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    5%, 95% { opacity: 1; }
}

.right-align {
    margin-left: auto;
    margin-right: 150px;
}

.fade-in-text {
    opacity: 0; /* Initially, set the opacity to 0 to hide the text */
    animation: fadeIn 2s ease forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; /* At the end of the animation, set the opacity to 1 to make the text fully visible */
    }
}

footer {
    bottom: 0;
    background-color: #060b17;
    color: #e1e1e4;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    opacity: 0.85;
}

footer p {
    margin: 0;
    font-size: 14px; /* Adjust font size as needed */
}

section {
    padding-bottom: 600px;
}

#contact {
    padding: 20px 0;
    text-align: center;
}

form { margin: 0 auto; }

.contact-form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    background-color: #262d3a;
    color: #e1e1e4;
    text-align: left; /* Adjust text alignment */
    margin: 0 20px; /* Add margin at the ends */
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: center; /* Center the form elements */
}

.contact-form label {
    display: block;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {    
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    margin: 0 15px; /* Add margin to both sides of the input elements */
    background: #111827;
    color: #e1e1e4;
    resize: vertical;
}

.contact-btn {
    background: #111827;
    color: #e1e1e4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
}

.contact-btn:hover {
    background: #0056b3;
}