/* General Styling */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
    color: #fff;
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


#particles-js {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  top: 0;
  left: 0;
  width: 95vw; /* Occupy the full width of the container */
  height: 100vh; /* Occupy the full height of the container */
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

@media (max-width: 580px) {
  #particles-js {
      opacity: 0.4;
  }
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  color:#e1e1e4;
}

footer {
  bottom: 0;
  background-color: #060b17;
  color: #e1e1e4;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  opacity: 0.85;
}

footer p {
  margin: 0;
  font-size: 14px; 
}

section {
  padding-bottom: 150px;
}

/* Text Effect Styling */


.typewriter-container {
  position: relative;
  text-align: center;
}

h1.typewriter {
    font-size: 50px;
    padding-top: 20px;
    text-align: center; 
}

@media (max-width: 580px) {
    h1.typewriter {
        font-size: 30px; 
        padding-top: 10px;
    }
}

@media (min-width: 1800px) {
  h1.typewriter.site-title {
      font-size: 80px;
  }

  .typewriter-container {
    margin-top: -20vh;
  }
}

.typewriter {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    padding-right: 5px;
    padding-bottom: 20px;
    animation: typing 5s steps(120, end);
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.typewriter::after {
    content: "_";
    display: inline-block;
    width: 0;
    text-align: center;
    animation: infinite, blink-underscore 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-underscore {
  0%, 100% {
    content: "_";
  }
  50% {
    content: "";
  }
}

/* Small Screen Scaling Styling */

@media (max-width: 580px) {
  .phone-space {
      padding-top: 250px;
  }
}

.mobile-spacing {
  display:none
}

@media (max-width: 580px) {
  .mobile-spacing {
    display:block;
  }
}

@media (min-width: 1800x) {
  .mobile-spacing {
    display:block;
  }
}

/* Toolbar Styling */

.toolbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(6, 11, 23, 0.8);
  backdrop-filter: blur(20px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 5px;
  border-radius: 15px;
}

.toolbar a {
  color: #9ca0a8;
  text-decoration: none;
  padding: 8px 10px;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 10px;
}

.toolbar a.active {
  background-color: #1f2937;
  color: white; 
}

.toolbar a:not(:last-child) {
  margin-right: 5px;
}

@media (max-width: 640px) {
  .toolbar {
      top: 0;
      left: 0;
      transform: translateX(0);
      width: 100%;
      padding: 5px 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 10px;
  }

  .toolbar a {
      border-radius: 0;
      width: auto;
      flex: 1;
      text-align: center;
      border-radius: 10px;
  }
}

@media (min-width: 1800px) {
  .toolbar a {
      color: #9ca0a8;
      text-decoration: none;
      padding: 15px 20px; 
      transition: background-color 0.5s, color 0.5s;
      border-radius: 10px;
      font-size: 24px;
  }
}

/* Home Section Styling */

#home {
  height: 100vh; /* Make the section take up the full height of the viewport */
  display: flex; /* Use flexbox to center content vertically */
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center content vertically */
  position: relative; /* Ensure z-index works */
  z-index: 1;
}

.intro-text {
    font-size: 50px;
    text-align: center;
    margin: 40px;
    max-width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 2s;
}

@media (max-width: 580px) {
    .intro-text {
        font-size: 30px;
        padding: 10px;
        margin: 0;
    }
}

@media (min-width: 1800px) {
  .intro-text {
      font-size: 60px;
      padding: 10px;
  }
}

.highlight {
    font-weight: bold;
    color: inherit;
}

.social-buttons {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 3s;
}

.github-button, .linkedin-button, .resume-button {
    display: inline-flex;
    align-items: center;
    padding: 2% 5%;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: transform 0.2s, background-color 0.2s;
    width: auto;
    margin: 0 10px;
}

.github-button img, .linkedin-button img, .resume-button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.github-button:hover, .linkedin-button:hover, .resume-button:hover {
    background-color: #444;
    transform: scale(1.05);
}

@media (max-width: 465px) {
    .github-button, .linkedin-button, .resume-button {
        font-size: 0;
        padding: 20px;
        border-radius: 25px;
    }

    .github-button img, .linkedin-button img, .resume-button img {
        margin-right: 0;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 1800px) {
  .github-button, .linkedin-button, .resume-button {
    font-size: 36px;
    margin-top: 100px;
  }
  .github-button img, .linkedin-button img, .resume-button img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
}




/* Projects Section Styling */

.card1 {
  background-color: #21917b;
}

.card2 {
  background-color: #60c04c;
}

.card3 {
  background-color: #225575;
}

.card4 {
  background-color: #e94a22;
}

.card5 {
  background-color: #d72b31;
}

.card6 {
  background-color: #5f3675;
}

.card7 {
  background-color: #f69e31;
}

.card8 {
  background-color: #ffbe0b;
}

.card9 {
  background-color: #da698e;
}


.tag1 {
  background-color: #1a7462; /*#155d4e*/
  border-color: #155d4e;
}

.tag2 {
  background-color: #4a9f38; /*#3b7f2d*/
  border-color: #3b7f2d;
}

.tag3 {
  background-color: #1b445e; /*#16364b*/
  border-color: #16364b;
}

.tag4 {
  background-color: #c23613; /*#9b2b0f*/
  border-color: #9b2b0f;
}

.tag5 {
  background-color: #ae2126; /*#8b1a1e*/
  border-color: #8b1a1e;
}

.tag6 {
  background-color: #4c2b5e; /*#3d224b*/
  border-color: #3d224b;
}

.tag7 {
  background-color: #e2820a; /*#b56808*/
  border-color: #b56808;
}

.tag8 {
  background-color: #d59c00; /*#aa7d00*/
  border-color: #aa7d00;
}

.tag9 {
  background-color: #cd3567; /*#a52952*/
  border-color: #a52952;
}

/* Text Colours */
.text1 {
  color: #78e0cc;
}

.text2 {
  color: #afdfa5;
}

.text3 {
  color: #74b1d7;
}

.text4 {
  color: #f4a490;
}

.text5 {
  color: #eb9598;
}

.text6 {
  color: #b48bc9;
}

.text7 {
  color: #face98;
}

.text8 {
  color: #ffde85;
}

.text9 {
  color: #ecb4c6;
}

.text10 {
  color: #A9A9A9;
}

/* Border colours */
.border1 {
  border-color: #155d4e;
}

.border2 {
  border-color: #3b7f2d;
}

.border3 {
  border-color: #16364b;
}

.border4 {
  border-color: #9b2b0f;
}

.border5 { 
  border-color: #8b1a1e;
}

.border6 {
  border-color: #3d224b;
}

.border7 {
  border-color: #b56808;
}

.border8 {
  border-color: #aa7d00;
}

.border9 {
  border-color: #a52952;
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

/* Project Cards */

@container projectCard (max-width: 450px) {
  .lg-view {
    display: none;
  }
  
  .sm-view {
    display: inline-block;
  }
}

.container {
    display: flex;
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

.link-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.project-container {
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  justify-content: center;
  gap: 20px;
  opacity: 0.85;
  margin-bottom: 20px;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  max-width: 2400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 2000px) {
  .project-container {
      grid-template-columns: repeat(8, 1fr)
  }
}

@media (max-width: 1200px) {
  .project-container {
      grid-template-columns: repeat(4, 1fr)
  }
}

@media (max-width: 650px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .project-card:last-child:nth-child(3n - 1) {
      grid-column-end: -2;
    }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .project-card:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

@media (min-width: 2000px) {
  .project-card:last-child:nth-child(4n + 1) {
    grid-column-end: 6;
  }
}
.project-card {
    container-type: inline-size;
    container-name: projectCard;
    grid-column: span 2;
    height: 240px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
}

.project-card .project-header {
    display: flex;
    justify-content: space-between;
}

.project-card .project-info .tags {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.project-card .project-info .tag {
    padding: 5px 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    margin-left: 5px;
    text-align: center;
}

.project-card .title {
    border-style: solid;
    border-width: 0 0 3px 0;
    width: 100%;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.project-card img.project-image {
    padding-top: 50px;
    padding-right: 5px;
    max-width: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 470px) {
  .project-card img.project-image {
      width: 150px;
      height: 150px;
      padding-right: 20px;
      padding-top: 60px;
  }
}

@container projectCard (max-width: 400px) {
  .project-card .tags {
    flex-direction: column;
  }

  .project-card .tag {
    margin: 5px 0;
  }
}


.project-card .tags {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.project-card h2 {
    margin: 0;  
}

@media (max-width: 550px) {
    .project-details h2 {
        font-size: 18px;
    }
}


.project-card .project-details {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box; 
    color: #e1e1e4;
    background-color: #060b17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s, left 0.3s ease-in-out; 
}

.project-card .project-details h2{
    margin: 0;
}

.project-card:not(.slideshow-container .project-card):hover {
    transform: scale(1.05); 
}

.project-card:hover img.project-image {
    transform: translateX(100%); 
}

.project-card:hover .project-details {
    opacity: 1;
    left: 0; 
}

.project-card .project-details a {
    display: none; 
}   

.project-card:hover .project-details a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.project-card .project-details a:not(:last-child) {
    margin-right: 20px;
}

.project-card:hover {
    opacity: 0.7;
}

/* Skills Section Styling */

.skills-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; 
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    flex-basis: calc(25% - 40px); 
    margin-right: 40px; 
}

.skills-list li img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.skills-list a {
    text-decoration: none;
    color: #e1e1e4;
    font-weight: bold;
}

.skills-list li:hover {
    transform: scale(1.2);
}

@media (max-width: 800px) {
    .skills-list li {
        flex-basis: calc(33.33% - 40px);
    }
}

@media (max-width: 640px) {
    .skills-list li {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 360px) {
    .skills-list li {
        flex-basis: calc(100% - 40px);
    }
}

.style-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

/* Individual style card styling */
.style-card {
  opacity: 0;
  transition: opacity 4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 1s ease;
  padding: 15px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.style-card img {
  width: 50px; /* Set the width of the image */
  height: auto;
  margin-right: 10px; /* Adjust spacing between image and title */
}

.style-card:hover {
  background-color: rgba(255, 255, 255, 0.05); /* Lighten the background color on hover */
}

/* GRAY COLOUR IS #A9A9A9 */

/*Experience Section Styling */

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #060b17;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #060b17;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #060b17;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: #262d3a;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: #262d3a;
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #060b17;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #1f2937;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  border-radius: 5px;
  z-index: 15;
}

.desc:hover {
  background-color: #262d3a;
}

.left-job {
  text-align: left;
}

@media(max-width: 768px){
  .left-job {
    text-align: center;
  }
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/*Education Section Styling */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.education-card {
    background-color: #1f2937;
    display: flex;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 2%;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.education-card:hover {
    background-color: #262d3a;
}

.education-card-image {
    flex: 1;
    max-width: 40%;
    overflow: hidden;
}

.education-card-image img {
    width: 100%;
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
}

.education-card-info {
    flex: 1;
    border-radius: 20px;
}

.education-text {
  font-size: 20px;
  background-color: #111827;
  padding: 10px;
  border-radius: 5px;
}

.education-title {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #00c896;
    margin: 0;
}

.education-description {
    font-size: 20px;
}

@media (max-width: 470px) {
    .education-description {
        font-size: 16px;
    }
}

.module-title {
  font-weight: bold;
  color: #049072;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

@media (max-width: 470px) {
  .module-title {
      font-size: 20px;
  }
}

.modules {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

#module {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/*Contact Section Styling */

#contact {
    padding: 20px 0;
    text-align: center;
}

form { 
  margin: 0 auto; 
}

.contact-form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2% 15% 2%;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    background-color: #1f2937;
    color: #e1e1e4;
    text-align: left;
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-form:hover {
  background-color: #262d3a;
}

@media (max-width: 450px) {
  .contact-form {
    padding: 2% 10% 2%;
      margin: 0 20px;
  }
}

.contact-form .form-group {
    margin-bottom: 20px;  
    text-align: center;
}

.contact-form label {
    display: block;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {    
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    margin: 0 15px; 
    background: #111827;
    color: #e1e1e4;
    resize: vertical;
    margin-bottom: 10px;
}

.contact-btn {
    background: #111827;
    color: #e1e1e4;
    font-family: "Courier New", monospace;
    font-weight: bold;  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: "Courier New", monospace;
    font-weight: bold;  
}

.contact-btn:hover {
    background: #0056b3;
}

.contact-text {
  position: relative;
  bottom: 10px;
}
